@import "var";

.sidebar{
    background-color: $black;
    transition: width 200ms ease;
    position: fixed;
    user-select: none;
    color: white;
    font-size: 120%;

    .sidebar-content{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        .sidebar-item{
            .sidebar-link{
                color: inherit;
                text-decoration: none;
                svg{
                    min-width: 2rem;
                    margin: 0 1.5rem;
                }
            }
        }
    }
}

.sidebar-text{
    display: none;
    margin-left: 1rem;
}


@media screen and (min-width: $small){
    .sidebar{
        width: 5rem;
        height: calc(100vh - 5rem - 10px);
        
    
        .sidebar-content{
            flex-direction: column;
            align-items: center;
            height: 100%;
            .sidebar-item{
                width: 100%;
                .sidebar-link{
                    display: flex;
                    align-items: center;
                    height: 5rem;
                }
            }
        }
    
        .sidebar-item:last-child{
            margin-top: auto;
        }
    }
    
    .sidebar:hover{
        width: 15rem;
    }
    
    .sidebar:hover .sidebar-text{
        display: block;
    }
    
    .sidebar-item:hover{
        background: $black_hover;
        cursor: pointer;
    }
}

@media screen and (max-width: $small){
    .sidebar{
        width: 100vw;
        height: 5rem;
        bottom: 0;
        .sidebar-content{
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            .sidebar-item{
                .sidebar-link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 5rem;
                    font-size: 150%;
                }
            }
        }
    }
}

